# SPDX-License-Identifier: BSD-3-Clause
#
# Copyright 2025 NXP
#
# Copyright (c) 2025-2026 TQ-Systems GmbH <oss@ew.tq-group.com>,
# D-82229 Seefeld, Germany.
# Author: Isaac Lucas de Lima Yuki
#

config secondary_config
    string
    default "debug" if $(config) = "flexspi_nor_sdram_debug"
    default "release" if $(config) = "flexspi_nor_sdram_release"
    default "debug" if $(config) = "flexspi_nor_debug"
    default "release" if $(config) = "flexspi_nor_release"
    default "debug" if $(config) = "debug"
    default "release" if $(config) = "release"

config secondary_core_id
    string
    default "cm4" if $(core_id) = "cm7"
