# SPDX-License-Identifier: BSD-3-Clause
#
# Copyright 2025 TQ-Systems GmbH <oss@ew.tq-group.com>,
# D-82229 Seefeld, Germany.
# Author: Isaac Lucas de Lima Yuki
#
# Copyright 2024 NXP
#

rsource "${core_id}/Kconfig"
rsource "../_common/Kconfig"

config MCUX_HW_BOARD_tqma117xl-mba117xl
    bool
    default y
    imply MCUX_HW_DEVICE_MIMXRT1176
    
    imply MCUX_COMPONENT_driver.clock
    imply MCUX_COMPONENT_driver.igpio
    imply MCUX_COMPONENT_driver.iomuxc
    imply MCUX_COMPONENT_driver.anatop_ai
    imply MCUX_COMPONENT_driver.memory
    imply MCUX_COMPONENT_driver.dcdc_2
    imply MCUX_COMPONENT_driver.gpc_xxx_ctrl
    imply MCUX_COMPONENT_driver.pgmc
    imply MCUX_COMPONENT_driver.anadig_pmu
    imply MCUX_COMPONENT_driver.src_2
    imply MCUX_COMPONENT_driver.lpi2c
    select MCUX_COMPONENT_component.lpuart_adapter  if MCUX_COMPONENT_component.serial_manager_uart
    select MCUX_COMPONENT_component.lpuart_adapter  if MCUX_COMPONENT_utility.debug_console_lite
