# SPDX-License-Identifier: BSD-3-Clause
#
# Copyright 2025 TQ-Systems GmbH <oss@ew.tq-group.com>,
# D-82229 Seefeld, Germany.
# Author: Isaac Lucas de Lima Yuki
#
# Copyright 2024 NXP
#

rsource "../_common/Kconfig"

config MCUX_HW_BOARD_tqmba93xxca
    bool
    default y
    imply MCUX_HW_DEVICE_MIMX9352
